#root {
  height: 100%;
}
.dashboard {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.dashboard__menu {
  flex-basis: 10rem;
  border: 1px soli;
  box-shadow: 5px 8px 16px #888888;
}
.dashboard__content {
  flex: 1;
}
.dashboard__products {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 3rem;
}
.dashboard__products h3 {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.dashboard__menu-h3 {
  padding: 1.5rem;
}
.dashboard__menu-nav-ul {
  display: flex;
  flex-direction: column;
}
.dashboard_meunu-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.dashboard_meunu-item a {
  cursor: pointer;
  color: black;
}

.dashboard_meunu-item:hover {
  cursor: pointer;
  background-color: #e1ecec;
}
.dashboard_meunu-item:active {
  /* background-color: #44EDED; */
  transition-duration: 1s;
  /* transition-timing-function: linear; */
  background-image: linear-gradient(90deg, #e1ecec, white);
}
.dashboard_meunu-item span {
  margin-left: 1rem;
  align-items: center;
  align-self: center;
  font-size: 18px;
  font-weight: 600;
}
/* .active {
    background-image: linear-gradient(90deg, #E1ECEC, white);
} */
.dashboard__products table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 1.5rem;
}

.dashboard__products td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px 10px;
}
.dashboard__products th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.dashboard__products tr:nth-child(even) {
  background-color: #dddddd;
}
.dashboard__products_search {
  /* border: none; */
  border-radius: 15px;
  border: 1px solid gray;
  margin-left: 1.5rem;
  align-self: center;
  padding: 0.5rem 1rem;
  width: 30%;
}
.dashboard__products__add {
  align-self: start;
  margin: 1rem 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.35rem;
  background: #4ca6a6;
  border: none;
  color: white;
  font-weight: 600;
}
.dashboard__products__add:active {
  align-self: start;
  margin: 1rem 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.35rem;
  background: #37a1a1;
  border: none;
}
.table__action {
  display: flex;
  /* flex-direction: ; */
  justify-content: center;
}
.table__action-delete {
  margin-right: 0.5rem;
  border: none;
  background: #f05555;
  color: white;
  padding: 0.2rem 0.5rem;
}
.table__action-view {
  border: none;
  background: #4ca6a6;
  color: white;
  padding: 0.2rem 0.5rem;
}
.table__action-delete:active {
  margin-right: 0.5rem;
  background: #dd1010;
  color: white;
  padding: 0.2rem 0.5rem;
}
.table__action-view:active {
  background: #258888;
  color: white;
  padding: 0.2rem 0.5rem;
}

.modal_view {
  display: none;
  position: fixed;
  z-index: 10;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
#option_cate_none {
  display: none;
}
.image_product_view {
  width: 25%;
  align-items: center;
  padding: 5px;
  margin: auto;
}
.image_product_add {
  width: 70%;
  margin: auto;
}
.modal_view_content {
  display: flex;
  background: white;
  margin: auto;
  padding: 35px;
  width: 40%;
  position: relative;
}
.modalContent {
  background-color: white;
  padding: 20px;
  width: 40%;
  margin: auto;
  display: flex;
  position: relative;
}
.modal_form_view {
  width: 100%;

}
.closeView {
  color: #aaa;
  position: absolute;
  right: 15px;
  top: -4px;
  width: 11px;
  font-size: 30px;
  cursor: pointer;
}
.modal_product {
  display: none;
  position: fixed;
  z-index: 10;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* .click {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.out {
    transform:scale(1);
    animation:unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
} */
.close {
  color: #aaa;
  position: absolute;
  right: 8px;
  top: 8px;
}
.close:hover {
  cursor: pointer;
}
.modalContent-text {
  flex: 1;
  margin-top: 20px;
}
.fadeIn {
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.form-add {
  display: flex;
  flex-direction: column;
}
#fname {
  margin-bottom: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  border: 0.5px solid gray;
}
#lname {
  margin-bottom: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  border: 0.5px solid gray;
}
.form-add label {
  font-weight: 600;
  font-size: 20px;
}
#category {
  border-radius: 10px;
  margin-bottom: 10px;
}
#image {
  margin-bottom: 10px;
}
#description {
  margin-bottom: 15px;
  height: 138px;
}
#saleof {
  margin-bottom: 10px;
  padding: 7px 10px;
  border-radius: 10px;
  border: 0.5px solid gray;
}
.product__price {
  text-align: center !important;
}
.product__sale {
  text-align: center !important;
}
.product__price span {
  font-weight: 700;
}
